// Цвета
$primary-color: #333

// Шрифты
%font-opensans-normal 
   font-family: Open Sans, sans-serif
   font-weight: 300
%font-montserrat-semibold 
   font-family: Montserrat, sans-serif
   font-weight: 600
%font-montserrat-bold 
   font-family: Montserrat, sans-serif
   font-weight: 700

// Белая кнопка
%white-btn
   color: #5540BF
   background-color: #fff
   margin-right: 20px

body
   background-color: #fff
   font-size: 16px
   @extend %font-opensans-normal
   color: $primary-color  
   margin: 0
   padding: 0
*
   box-sizing: border-box
h1
   color: #fff
h1, h2, h3
   margin: 0
a 
   text-decoration: none
li 
   list-style: none
ul
   padding: 0
   margin: 0

.container
   width: 1100px
   margin: 0 auto

// Шапка
.header
   background-image: url(../images/promo-bg.jpg)
   color: #fff
   &__navigation
      display: flex
      justify-content: space-between
      padding-top: 40px
      padding-bottom: 150px
   &__nav-list
      display: flex
   &__nav-item
      margin-left: 31px
   &__promo
      display: flex
   &__title
      font-size: 46px
      line-height: 52px
      width: 530px
      @extend %font-montserrat-bold
   &__paragraph
      font-size: 20px
      line-height: 28px
      margin-top: 35px
      margin-bottom: 65px
   &__img img
      width: 522px
   &__inner
      padding-bottom: 100px
   &__link
      width: 185px
      height: 50px
      line-height: 50px
      text-align: center
      display: inline-block
      border: 1px solid #fff
      border-radius: 5px
      @extend %font-montserrat-semibold 
      text-transform: uppercase
      font-size: 12px
      cursor: pointer
   &__link-call
      @extend %white-btn
   &__sign-in
      font-size: 14px
      margin-top: 18px
      width: 467px
   &__content
      margin-right: 66px
   
// Блок преимущества
.advantages
   background: linear-gradient(51deg, #5540BF 10.44%, #AFA1F9 99.76%)
   box-shadow: 0px 0px 100px rgba(175, 161, 249, 0.3)
   &__inner
      padding: 30px 0
   &__list
      display: flex
      flex-wrap: wrap
      justify-content: center
      align-items: center
   &__item
      display: inline-block
      color: #fff
      border: 2px solid #fff
      border-radius: 100px
      padding: 25px 51px
      margin: 15px 20px
      &-first
         color: #FFD100
         border-color: #FFD100

// Блоки с информацией по преимуществам
.content-area
   &__list
      padding-top: 170px
   &__title
      @extend %font-montserrat-bold
      font-size: 36px
   &__text
      font-size: 18px
   &__button-conf
      display: block
      width: 230px
      height: 50px
      text-align: center
      text-transform: uppercase
      @extend %font-montserrat-semibold 
      font-size: 12px
      color: #fff
      line-height: 50px
      border-radius: 5px
      background-color: #5540bf
   &__item 
      position: relative
      &::after
         content: ''
         display: block
         background-size: contain
         background-repeat: no-repeat
         background-position: left
         position: absolute
         z-index: -1
      &-inner
         display: flex
         margin-bottom: 180px
   &__img
      width: 560px
   &__text
      margin-top: 34px
      margin-bottom: 43px

.content-area__item-inner > div:nth-child(2)
   margin-left: 30px

// 1 Блок - Групповые звонки
.content-area__item
   &-call::after
      background-image: url(../images/group-call-bg.png)
      width: 1024px
      height: 937px
      top: -330px
      left: 0
   &-safty::after
      background-image: url(../images/safety-bg.png)
      background-position: right
      width: 960px
      height: 849px
      top: -299px
      right: 0
   &-device::after
      background-image: url(../images/device-bg.png)
      width: 1100px
      height: 769px
      top: 0
      left: 0

// 4 Блок - Онлайн трансляция
.content-area__online-call
   background: linear-gradient(78.94deg, #5540BF 36.07%, #AFA1F9 99.58%)
   height: 500px
   &-text
      width: 500px
      color: #fff
   &-title
      color: #fff
      margin-top: 120px
   .content-area__online-call-link
      @extend %white-btn
   .content-area__item-inner
      margin-bottom: 0
      position: relative
   .content-area__img
      position: absolute
      top: -97px
      right: -110px
      width: 705px
      height: 545px
//  Футер
.footer
   &__inner
      display: flex
      justify-content: space-between
      padding-top: 70px
      padding-bottom: 50px
   &__list
      display: flex
      justify-content: flex-end
   &__item
      margin-left: 31px
   &__logo 
      padding-top: 20px
   &__contacts-feedback
      color: #5540BF